set idearefactormode=keep
set ideastatusicon=gray
set ideamarks
set ideajoin

set multiple-cursors

# highlight the search result
# then `:set nohls` to clear the highlight
set hls

# smart case matching when searching
set sc

# ignore case matching when searching
# when set with `smartcase`, it would not work if a keyword has both upper and lower case.
set ic

# inc search
# off, when you click Enter then begin searching
# on, when you type a character then start searching, but Enter is required to get the results
set is

set backspace=indent,eol,start

# scroll the screen when cursor's offset to top or bottom line of current screen
set scrolloff=10

# copy to the system clipboard not registers in VIM
set clipboard+=unnamed
set clipboard+=ideaput

# Keyboard shortcuts
inoremap <C-k> <ESC>
vnoremap <C-k> <ESC>

# IDEA specific shortcuts

# expand or shirk selection
map <Space> <Action>(EditorSelectWord)
map <S-Space> <Action>(EditorUnSelectWord)

# hows a popup with an error message and java doc in it.
# map gh <Action>(ShowErrorDescription)
map gh <Action>(QuickJavaDoc)

# go to next error
map <Enter> <Action>(GotoNextError)

# go to implementation
map gi <Action>(GotoImplementation)
